@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>You found me!</h1>
    <p class="lead">
        If you are looking for a reliable talented programmer who has solid programming knowledge,
        I strongly recommend you consider me! As an ASP.NET MVC back-end developer who else knows
        some front-end techniques, I built this website to prove that I have the ability to
        handle a project independently from ZERO to deployment even I am just a fresh graduated student(master degree).
    </p>
    <h2>What is this website all about?</h2>
    <p class="lead">
        It contains my personal statement(this page) and a project [Hero Pick Helper]
    </p>
    <p><a href="https://github.com/sdw283074970/HeroPickHelper" class="btn btn-default">Check the source code on Github! &raquo;</a></p>
    <h2>What is project Hero Pick Helper?</h2>
    <p class="lead">
        Hero Pick Helper is a free solution for picking the advantaged hero in Dota2.
        By inputting known enemy heroes, Hero Pick Helper will generate a list of countering
        suggestions based on data mining.
    </p>
    <p><a href="~/herocalculator/index" class="btn btn-default">Try Hero Pick Helper now! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My LinkedIn Profile</h2>
        <p>
            If you want to know more basic information about me, you may check my LinkedIn profile.
            But if you want to know my further ablities and skills, I highly recommend you check my Github repositories.
            The protal of my LinkedIn is as follow:
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/dongwei-shi-408045139/">View Dongwei's LinkedIn Profile &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My personal Github</h2>
        <p>
            My repositories on Github mainly contains my personal projects and some technical articles.
            These article records my learning path and could also be tutorials of .NET.
            I firmly believe they could be the strong evidence that I have mastered solid programming knowledge.
            The protal of my Github is as follow:
        </p>
        <p><a class="btn btn-default" href="https://github.com/sdw283074970">View Dongwei's Github &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Résumé</h2>
        <p>
            If you are busy and want to know me in a short time, you may check my resume.
            I have tried writing myself down in a single paper.
            The protal of my Resume is as follow:
        </p>
        <p><a class="btn btn-default" href="https://drive.google.com/file/d/1LL2O2FiaRoMBYy0jxzMFAc9HZCqVH70m/view">View Dongwei's Resume &raquo;</a></p>
    </div>
</div>