@model HeroPickHelper.ViewModel.HeroViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>测试页面</h2>

<div>
    <div>
        <section>
            <header>英雄职责列表</header>
            <button id="testbtn" class="btn btn-danger">click me</button>
            <article class="table-divided">
                <table id="heroes" class="table table-condensed table-hover table-striped" data-page-length="5">
                    <thead>
                        <tr>
                            <th colspan="2">英雄</th>
                            <th>指数</th>
                            <th>删除</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var hero in Model.heroList)
                        {
                            <tr>
                                <td class="img-rounded">
                                    <div>
                                        <img class="test" src="@hero.Url_small_portrait" alt="@hero.Name">
                                    </div>
                                </td>
                                <td>@hero.Localized_name</td>
                                <td>
                                    @foreach (var dutyName in Model.helper.GetHeroDutyies(hero.Id))
                                    {
                                        <text>@dutyName</text>
                                    }
                                </td>
                                <td>
                                    <button class="btn btn-link js-delete">Delete</button>
                                </td>
                            </tr>
                        }*@
                    </tbody>
                </table>
            </article>
        </section>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            $.extend($.fn.dataTable.defaults, {
                searching: false,
                ordering: false,
                paging: false
            });

            var table = $("#heroes").DataTable({
                ajax: {
                    url: "/api/herocalculator",
                    dataSrc: "carries"
                },
                columns: [
                    {
                        data: "url_small_portrait",
                        render: function (data) {
                            return "<img src='" + data + "' alt='test' />";
                        } 
                    },
                    {
                        data: "nick_name"
                    },
                    {
                        data: "id",
                        render: function () {
                            return "<button class='js-delete btn btn-link'>Delete</button>";
                        }
                    }
                ]
            });

            $("#testbtn").on("click", function () {
                table.destroy();
                alert("成功");
            });

            $("#heroes").on("click", ".js-delete", function () {
                var button = $(this);
                button.hide();   //调用bootbox.confirm()方法
            });
        });
    </script>
}