
@{
    ViewBag.Title = "HeroCalculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>测试页面</h2>

<div class="maincontainer">
    <div>
        <section>
            <header>应用主功能页面</header>
        </section>
    </div>
    <div class="section-main">
        <div class="section-pickarea">
            <div>
                <img class="iconholder" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522740324839&di=444fff70d6821a70ce2f3a59128b8952&imgtype=0&src=http%3A%2F%2Fcdn4.freepik.com%2Fimage%2Fth%2F318-37418.jpg">
            </div>
            <div>
                <img class="iconholder" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522740324839&di=444fff70d6821a70ce2f3a59128b8952&imgtype=0&src=http%3A%2F%2Fcdn4.freepik.com%2Fimage%2Fth%2F318-37418.jpg">
            </div>
            <div>
                <img class="iconholder" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522740324839&di=444fff70d6821a70ce2f3a59128b8952&imgtype=0&src=http%3A%2F%2Fcdn4.freepik.com%2Fimage%2Fth%2F318-37418.jpg">
            </div>
            <div>
                <img class="iconholder" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522740324839&di=444fff70d6821a70ce2f3a59128b8952&imgtype=0&src=http%3A%2F%2Fcdn4.freepik.com%2Fimage%2Fth%2F318-37418.jpg">
            </div>
            <div>
                <img class="iconholder" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522740324839&di=444fff70d6821a70ce2f3a59128b8952&imgtype=0&src=http%3A%2F%2Fcdn4.freepik.com%2Fimage%2Fth%2F318-37418.jpg">
            </div>
            <button class="btn btn-danger cal">Calculate!</button>
        </div>
        <section class="section-tablearea">
            <article class="table-divided">
                <table id="carry" class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">Carry</th>
                            <th>Index</th>
                        </tr>
                    </thead>
                    <tbody>
                </table>
            </article>
            <article class="table-divided">
                <table id="mid" class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">Mid</th>
                            <th>Index</th>
                        </tr>
                    </thead>
                    <tbody>
                </table>
            </article>
            <article class="table-divided">
                <table id="offlane" class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">Offlane</th>
                            <th>Index</th>
                        </tr>
                    </thead>
                    <tbody>
                </table>
            </article>
            <article class="table-divided">
                <table id="roamorjungle" class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">Roam</th>
                            <th>Index</th>
                        </tr>
                    </thead>
                    <tbody>
                </table>
            </article>
            <article class="table-divided">
                <table id="support" class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">Support</th>
                            <th>Index</th>
                        </tr>
                    </thead>
                    <tbody>
                </table>
            </article>
        </section>
    </div>
</div>
